@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  * {box-sizing: border-box; font-family: 'GmarketSansMedium'; margin: 0; padding: 0;}
  body {font-size: 14px; width: 519px; height: 820px;}
  div {margin-bottom: 18px;}

  /*헤더 & 닫는아이콘*/
  .head{display: flex; justify-content: center; align-items: center; position: relative;}
  .head>img{width: 20px; height: 20px; position: absolute; right: 3%;}

  /* 공간 정보 */
  .info{height: 20%; display: flex; margin: 1% 1% 2%;}
  .rayout{width: 165px; height: 165px; border: 1px solid #BDBDBD; display: grid;}
  .info>div:nth-child(2){display: flex; width: 20%; height: 5%; flex-direction: column; padding: 0; margin-left: 1%;}
  .category{width: 5.5rem; height: 1.5rem; border: #A7AEFF 2px solid; border-radius: 5px; padding-top: 2.2px !important; padding-right: 1px !important; margin-bottom: 5px; text-align: center; color: #BDBDBD;}
  .info>div:nth-child(2)>div{padding: 0;}

  /* 위아래 배경색 */
  .head, .submit{width: 100%; height: 55px; background-color: #A7AEFF; text-align: center;}
  
  /* 어떤점이 좋았나요 */
  .text {width: 100%; height: 50px; line-height: 50px; border: 1px solid #e0e0e0; text-align: center;}
  .how{font-size: 24px; text-align: center; margin: -10px 0px 10px; padding: 5px;}

  /* 리뷰 입력칸 */
  .textbox{width: 100%; height: 250px; border: 1px solid #e0e0e0; background-color: #f2f2f2; position: relative;}
  .textbox p:nth-child(2){position: absolute; bottom: 3%; right: 3%;}
  #ten{margin-left: 15px; margin-top: 10px;}
  .min{color: #BDBDBD;}
  
  /* 사진 첨부하기 */
  .photo{border: 2px dashed #D5D5D5; margin-bottom: 10px; width: 100%; height: 70px; text-align: center;}
  .photo>img{width: 2rem; height: 2rem; position: relative; top: 0.6rem;}

  /* 문구 */
  .worning{color: #CE3636; text-align: center;}
  .white, .submit{color: white;}
  .submit, .white{text-align: center; margin-top: 10px; font-size: 18px;}
  .purple {text-align: center;}
  .review{padding: 15px 0px;}
  .worning{margin: 5px 0px; padding: 10px 0px;}
  .t2, .worning, .imgplus{font-size: 16px;}
  .imgplus{line-height: 70px;}
  .name{font-size: 20px;}
  span{text-align: center;}