/*폰트 */
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 공통 */
*{
    margin: 0; 
    padding: 0; 
    font-family: 'GmarketSansMedium';
}


a{
    text-decoration: none;
    color: black;
}

/* 로고, 검색 */
header div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}
header div a{
    font-family: 'GmarketSansMedium';
    font-size: 20px;
}
#logo img{
    width:200px;
    height: 64px;
}

#search{
    height: 55px;
    width: 40vw;
    border: #97d7fe 1px solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#search input{
    width: 80%;
    border: none;
    font-size: 18px;
}
#search input:focus{
    outline: unset;
}

#search button{
    border: none;
    background-color:unset;
    display: flex;
    align-items: center;
}

#search button img{
    width: 40px;
    height: 41px;
}

/* 네비게이션바 */
nav{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 60px;
}

ul{
    list-style: none;
    display: flex;
    width: 25vw;
    justify-content: space-evenly;
}
li{
    width: 90px;
    text-align: center;
}
li a{
    font-size: 19px;
}
#login{
    font-size: 20px;
}

/* 섹션 */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.like{
    height: auto;
    margin: 0;
    padding: 0;
}

.storeimg{
    width: 40vw;
    height: 40vw;
    margin: 1rem;
    margin-left: 8vw;
    margin-top: 12vw;
    border-radius: 1rem;
}
.title, .icon{position: absolute; left: 6vw;}

.icon{
    width: 4vw;
    margin-top: 4vw;
    margin-left: 1.5rem;
}

.title{
    margin-top: 4vw;
    margin-left: 7vw;
    font-size: 3vw;
}

div>span>span {
    margin-right : 3.5vw;
    font-family: 'GmarketSansLight';
}

.rank>span:nth-child(1), .first{
    font-family: 'GmarketSansBold';
}

.first{
    color: #8A94FF;
}

.rankFirst{
    display: inline-block;
    width: 13vw;
    height: auto;
    text-align : center;
    font-family: 'GmarketSansBold';
    color: #fff;
    background-color: #8A94FF;
    border-radius: 3rem;
}
.rank{
    display: flex;
    position: relative;
    left: 60vw;
    font-size: 3vw;
    flex-direction: column;
    bottom: 39vw;
    
}

.rank>span{
    margin-bottom: 4vw;
    font-family: 'GmarketSansLight';
}

.division{
    position: relative;
    width: 70vw;
    left: 15vw;
}























/* 푸터 */
footer{
    height: 14vh;
    padding-left: 95px;
    background-color: #8A94FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

footer p{
    font-family: 'GmarketSansLight';
    font-size: 12px;
}

footer div{
    margin-bottom: 10px;
}

footer div p{
    font-family: 'GmarketSansBold';
    font-size: 25px;
}

footer div p:nth-child(2){
    font-size: 15px;
}