/*폰트 */
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 공통 */
*{
    margin: 0; 
    padding: 0; 
    font-family: 'GmarketSansMedium';
}


a{
    text-decoration: none;
    color: black;
}

/* 로고, 검색 */
header div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}
header div a{
    font-family: 'GmarketSansMedium';
    font-size: 20px;
}
#logo img{
    width:200px;
    height: 64px;
    object-fit:cover;
}

#search{
    height: 55px;
    width: 40vw;
    border: #97d7fe 1px solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#search input{
    width: 80%;
    border: none;
    font-size: 18px;
}
#search input:focus{
    outline: unset;
}

#search button{
    border: none;
    background-color:unset;
    display: flex;
    align-items: center;
}

#search button img{
    width: 40px;
    height: 41px;
}

/* 네비게이션바 */
nav{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 60px;
}

ul{
    list-style: none;
    display: flex;
    width: 25vw;
    justify-content: space-evenly;
}
li{
    width: 90px;
    text-align: center;
}
li a{
    font-size: 19px;
}
#login{
    font-size: 20px;
}

section hr{border-color: #e2e2e2; border-top: 0px;}

/* 섹션 */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.division{width: 71vw; margin: 0 auto;}

.inside_container{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 70vw;
    height: 27vw;
    margin : 3vw auto 3vw;
    padding: 0;
}
.inside_container div:nth-child(1){width: 63%; display: flex; flex-wrap: wrap; align-items: center;}

.storeimg{
    width: 80%;
    height: 20vw;
    border-radius: 1rem;
    object-fit:cover;
}

.icon{
    width: 2.5vw;
}

.title{
    font-size: 1.7vw;
    width: 27%;
    text-align: center;
    font-family: 'GmarketSansBold';
}

div>span>span {
    margin-right : 3.5vw;
    font-family: 'GmarketSansLight';
}

.rank{
    display: flex;
    font-size: 2.5vw;
    flex-direction: column;
    text-align: justify;
    justify-content: end;
    width: 35%;
    overflow: hidden;
}

.rank span{
    font-family: 'GmarketSansLight';
}

.rank p{margin: 1.05vw 0 0.2vw;}
.rank p:nth-child(1) span:nth-child(2){width: 22.1%;}
.rank span:nth-child(1){font-size: 2vw;}
.rank span:nth-child(2){font-size: 0.95vw; display: inline-block; width: 20%;}
.rank span:nth-child(3){font-size: 2vw; display: inline-block; padding: 1.5% 5% 0.5%; max-width: 64%; white-space: nowrap;}

.focus span{font-family: 'GmarketSansBold'; color: #8A94FF;}
.focus span:nth-child(3){border-radius: 50px; background-color: #8A94FF; color: white;}

















/* 푸터 */
footer{
    height: 14vh;
    padding-left: 95px;
    background-color: #8A94FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

footer p{
    font-family: 'GmarketSansLight';
    font-size: 12px;
}

footer div{
    margin-bottom: 10px;
}

footer div p{
    font-family: 'GmarketSansBold';
    font-size: 25px;
}

footer div p:nth-child(2){
    font-size: 15px;
}