@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{font-family: 'GmarketSansMedium';}

.bg-image {
    background-image: url(/login/img/bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* .gradient-custom{
    background: linear-gradient(to top, rgb(255, 255, 255), rgb(197, 216, 248));
} */


#logo{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    position: relative;
    top: 20rem;
    right: 20rem;
}


#card{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    left : 60rem;
    bottom : 10rem;
}


