@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{font-family: 'GmarketSansMedium';}

.bg-image {
    background-image: url(/login/img/bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} 


