@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}

.logo_space{
    position: relative;
    left: 22vw;
    width: 420px;
    height: 150px;
}
/* 찾기 선택 */
#top{
    background-color: #8A94FF;

}

/* hr */
.line1 {
    position: relative;
    width: 5.5vw;
    height: 0px;
    bottom: 20px;
    left: 4px;
    border: 3px solid #8A94FF;
    margin: 0;
}
.line2 {
    position: relative;
    width: 20vw;
    height: 0px;
    bottom: 25px;
    left: 4px;
    border: 3px solid rgba(0, 0, 0, 0.5);
    margin: 0;
}

#login_icon{
    width: 100px;
    height: 80px;
}

.id_line{
    position: relative;
    left: 8vw;
}

.pw_line{
    position: relative;
    left: 10vw;
}

.linebox{
    width: 100rem;
}

#password_icon{
    width: 80px;
    height: 80px;
}

#find_id{
    font-size: 1.8rem;
    color: white;
    font-family: 'GmarketSansBold';
}
#find_pw{
    font-size: 1.8rem;
    color: white;
    font-family: 'GmarketSansBold';
}

.find_pw{
    font-size: 28px;
    font-family: 'GmarketSansBold';
}

.container2{
    height: 30rem;
}

p{
    font-family: 'GmarketSansMedium';
    font-size: 2rem;
    text-align: justify;
}

input[type=radio]{
    position: relative;
    top: 15px;
    width: 100px;
    height: 3rem;
    align-items: baseline;
    accent-color: rgb(138, 130, 255);
}
.p_email{
    padding-top: 1rem;

}

.p_tel{
    margin-top: 1rem;
}

.radio_phone{
    left: 15px;
}